<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>
    <div>
    <a href="/" class="btn btn-primary">Add Information</a><br><br></div>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Type</th>
            <th scope="col">Text</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
            <% all_data.forEach(function(data){ %>
          <tr>
            <th><%= data.id %></th>
            <td><%= data.type %></td>
            <td><%= data.text %></td>
            <td><a href="/edit_curd/<%= data._id %>" class="btn btn-info">Edit</a>
                <a href="/delete_curd/<%= data._id %>" class="btn btn-dark">Delete</a>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
</body>
</html>